@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/archivo-black/files/archivo-black-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/space-mono/files/space-mono-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("@fontsource/space-mono/files/space-mono-latin-700-normal.woff2") format("woff2");
}
