@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/rajdhani/files/rajdhani-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("@fontsource/rajdhani/files/rajdhani-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-display: swap;
  font-weight: 400 900;
  src: url("@fontsource-variable/orbitron/files/orbitron-latin-wght-normal.woff2") format("woff2-variations");
}
