@font-face {
  font-family: "VT323";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/vt323/files/vt323-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url("@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2") format("woff2-variations");
}
